*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #231f1f;
    color: #fff;
}
header nav{
    background-color: #160d0d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header nav h1{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],
 button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}
 form button[type="submit"]{
    background-color: #e02f2f;
    color: #fff;
    cursor: pointer;
    transition:background-color 0.2s ease-in-out ;
 }
 form button[type="submit"]:hover ,
 .recipe button:hover,
 .recipe-Close-Btn:hover{
    background-color: #612121;
 }

/* main sectio */
 .recipeContainer {
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
 }
 .recipe{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 43, 0.1), -5px -5px -10px rgba(34,34,34.5);
    cursor: pointer;
    max-width: 350px;
    transition: 0.3s ease-in-out;
 }
 .recipe:hover{
    transform: scale(1.02);
 }
 .recipe img{
    height: 300px;
 }

 .recipe h3{
    font-size: 23px;
    margin-block: 5px;
 }

 .recipe p{
    font-size: 20px;
    color: #5e5d5d;
    margin: 5px 0;
 }

 .recipe span{
    font-weight: bold;
 }
 .recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    background-color: #e02f2f;
    color: #fff;
    
 }

 /* recipe details */
 .recipe-Details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%,-50%);
    background-color: #533838;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
 }

 .recipe-Details-content{
    padding: 30px;
 }

.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;   
     
}

.ingrediantList li{
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstruction p{
    line-height: 30px;
    white-space: pre-line;
}

.recipeName,.ingrediantList,.recipeInstruction{
    margin-bottom: 10px;
}

.recipe-Close-Btn{
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e02f2f;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* adding scroll bar */
 body::-webkit-scrollbar{
    width: 16px;
    
 }
 body::-webkit-scrollbar-thumb{
    background: #585252;
    
 }
 body::-webkit-scrollbar-track{
    background: #d9d5d5;
 }

 .recipe-Details::-webkit-scrollbar{
    width: 10px;
    
 }
 .recipe-Details::-webkit-scrollbar-thumb{
    background: #eeecec;
    border-radius: 16px;
    --webkit-border-radius:1px;
 }


 


/* responsive Code */
@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
    .recipe-Details{
      width: 50%;
      height:50% ;
    }
    
    
}